spi-core/src/main/resources/META-INF/spi.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.sankuai.com/schema/spi"
            targetNamespace="http://www.sankuai.com/schema/spi">

    <xsd:element name="node" type="spiNode"/>

    <xsd:complexType name="spiNode">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique id of an spi node.]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="target" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The interface represents this spi node.]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>
